<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= listing .title %></title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>   
    <main>
        <div class="container">
                <div class="ind-container">
                    <form action="/editList/<%= listing._id.toString() %>?_method=PUT" method="post">
                        <label>
                            Title
                            <textarea name="listing[title]"><%= listing.title %></textarea>
                        </label>

                        <label>
                            Description
                            <textarea name="listing[description]" rows="10"><%= listing.description %></textarea>
                        </label>

                        <label>
                            Image
                            <textarea class="img-textarea" name="listing[image][url]" rows="6"><%= listing.image.url %></textarea>
                        </label>

                        <label>
                            Price
                            <input id="slider" type="range" name="listing[price]" value="<%= listing.price %>" min="0" max="<%= listing.price + 3000 %>" step="50">
                            <p id="slider-value"><%= listing.price %></p>
                        </label>

                        <label>
                            Location
                            <input type="text" name="listing[location]" value="<%= listing.location %>">
                        </label>

                        <label>
                            Country
                            <input type="text" name="listing[country]" value="<%= listing.country %>">
                        </label>

                        <button class="buttons" type="submit">Update</button>
                    </form>
                </div>
        </div>
    </main>
    
</body>
<script>
    const slider = document.getElementById('slider');
    const value = document.getElementById('slider-value');

    slider.addEventListener('input', () => {
        value.textContent = slider.value;
    })
</script>
</html>