<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= list.title %></title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <h1><%= list.title %></h1>
    </header>
    <main>
        <div class="container">
                <div class="ind-container">
                    <h3> <%= list.title %> </h3>
                        <div class="content">
                            <img loading="lazy" src="<%=list.image.url%>" alt="<%= list.image.filename %>">
                            <p><strong>Description: </strong><%= list.description %></p>
                            <p><strong>Location: </strong><%= list.location %></p>
                            <p><strong>Country: </strong><%= list.country %></p>
                            <p><strong>Price: &#8377; </strong><%= list.price %></p>
                        </div>
                    <hr>
                    <div class="buttons">
                        <a href=""><button>Edit</button></a>
                        <a href=""><button>Delete</button></a>
                    </div>
                </div>
        </div>
    </main>
</body>
</html>