<% layout('layouts/boilerplate.ejs') %>
<% block('title').append('<title>Edit Listing</title>') %>
<% block('css').append('<link rel="stylesheet" href="/styles/index.css">') %>
<% block('css').append('<link rel="stylesheet" href="/styles/form.css">') %>
        <div class="container">
                <div class="ind-container">
                    <form class="listingForm" action="/editList/<%= listing._id.toString() %>?_method=PUT" method="post">
                        <label>
                            <p>Title</p>
                            <textarea name="listing[title]" required><%= listing.title %></textarea>
                        </label>

                        <label>
                            <p>Description</p>
                            <textarea name="listing[description]" rows="10" required><%= listing.description %></textarea>
                        </label>

                        <label>
                            <p>Image</p>
                            <textarea class="img-textarea" name="listing[image][url]" rows="6"><%= listing.image.url %></textarea>
                        </label>

                        <label>
                            <p>Price</p>
                            <input id="slider" type="range" name="listing[price]" min="0" max="10000" step="100">
                            <p id="slider-value"><strong>Price: &#8377; <%= listing.price %></strong></p>
                        </label>

                        <label>
                            <p>Location</p>
                            <input type="text" name="listing[location]" value="<%= listing.location %>" required>
                        </label>

                        <label>
                            <p>Country</p>
                            <input type="text" value="<%= listing.country %>" name="listing[country]" required>
                        </label>

                        <button class="buttons btns" type="submit">Update</button>
                    </form>
                </div>
        </div>
    <% block('script').append('<script src="/js/slider.js"></script>') %>

    