<% layout('layouts/boilerplate.ejs') %>
<% block('title').append('<title>AirBnb</title>') %>
<% block('css').append('<link rel="stylesheet" href="styles/index.css"') %>
        <h1>All Listings</h1>
        <div class="container">
            <% for(list of data) {%>
                    <div class="ind-container">
                        <h3> <%= list.title %> </h3>
                        <a href="/individualListing/<%=list._id.toString()%>">
                            <section class="content">
                                <img loading="lazy" src="<%=list.image.url%>" alt="<%= list.image.filename %>">
                                <p><strong>Description: </strong><%= list.description %></p>
                                <p><strong>Location: </strong><%= list.location %></p>
                                <p><strong>Country: </strong><%= list.country %></p>
                                <p><strong>Price: &#8377; </strong><%= list.price.toLocaleString("en-IN") %></p>
                            </section>
                        </a>
                        <hr>
                        <!-- <div class="buttons"> -->
                            <a href="/editList/<%= list._id.toString() %>" class="btns">Edit</a>
                            <form action="/deleteList/<%= list._id.toString() %>?_method=DELETE" method="post">
                                <button class="delete btns" type="submit">Delete</button>
                            </form>
                        <!-- </div> -->
                    </div>
                <% } %>
        </div>
        <div class="add">
            <a href="/addList">
            <button class="btns">Add new listing</button>
        </a>
        </div>
        <% block('script').append('<script src="js/deleteListingForm.js"></script>') %>